#header
  background: url("../img/background@2x.jpg") no-repeat
  height: 800px
  background-size: cover
  text-align: center
  text-transform: uppercase
  color: #9381de
  margin-bottom: 10em
  .wrapper
    max-width: 100%
  // overflow: hidden


  h1
    color: #b67df0
  article
    width: 80%
    margin: 0 auto
    // ?background-color: yellow

    img
      // background-color: red
      width: 40%
      float: right




#brands ul
  text-align: center
  padding: 20px 0
  background: #ffffff
  //border-bottom: 1px solid rgba(0,0,0,0.5)
  display: grid
  grid-template-columns: repeat(6, auto)
  margin: 0

  @media (max-width: 550px)
    grid-template-columns: repeat(3, auto)


  li
    list-style: none
  li img
    //width: 80%
