.main-nav
  display: flex
  margin-top: 0
  background-color: #ffffff
  height: 120px

  .logo
    width: 150px
    height: 150px
    position: absolute
    box-shadow: 0 0 #eaeaea
    border-radius: 50%
    border: 1px solid #eaeaea

  li
    list-style: none

  li:first-child
      margin-right: auto
  a
    color: #000000
    text-decoration: none
    display: block
    padding: 15px 15px
    border-radius: 2px
    font-size: 11px
    font-weight: 600
    text-transform: uppercase

  a:hover
    font-weight: 900
    border-bottom: 4px solid green

  .partner
    background-color: #00b32d
    color: #ffffff
    box-shadow: 0 12px 10px -10px rgba(0,0,0,0.3)

  .nav-responsive
    display: inherit
    margin: auto
    white-space: nowrap

  .nav-social
    display: grid
    grid-template-columns: repeat(3, auto)
    padding-top: 2%
    margin-left: 10%
    a
      // background-color: red
      //width: 7px
      margin: 0 1px 0 1px
      padding: 5px
      vertical-align: bottom

    // .fa:before
    //   background-color: yellow
    //   padding: 0
    //   margin: 0
    //   max-width: 4px

  .nav-toggle
    display: none
    padding-top: 10px
    z-index: 200
    //float: right
    //position: fixed
    right: 0

// @media screen and (max-width: 1000px)
//   .main-nav
//     //background-color: yellow
//     .logo
//       width: 125px
//       height: 125px
//
//     a
//       font-size: 11px

@media screen and (max-width: 750px)
  .main-nav
    position: block

    .logo
      width: 90px
      height: 90px
      // position: relative
      // margin-left: auto
      // margin-right: auto

    .nav-responsive
      display: none
    .nav-toggle
      display: block

    .nav-responsive.unfold
      display: block
      width: 100%
      position: absolute
      top: 0
      right: 0
      background-color: #2dbe52
      color: black
      z-index: 100

      .partner
        background: inherit
