#partner
  background: url("/assets/img/background@2x.png")
  height: 400px
  background-size: cover
  text-align: center

  //text-transform: uppercase
  .partner-text
    margin-bottom: 5em

  p
    font-size: large

  h2
    margin: 1em auto
  h2, h4, p
    color: #ffffff
  h4, h5, p
    font-weight: 300
    margin: 0 auto

  .button
    color: #55b430
    font-weight: 900
    font-size: x-large
    text-transform: capitalize
  @media screen and (max-width: 700px)
    .wrapper
      max-width: 90%
    h4, h5, p
      font-size: x-large
      margin: 0
    h2
      margin: 0
  //no-repeat
  /* overflow: hidden; */
